# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.so
dist/
build/
*.egg-info/
.eggs/
.venv/
venv/
.mypy_cache/
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Node.js
node_modules/

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Misc
.env
.cache
*.log